<!DOCTYPE html>
<html>
<head>
    <title>Mathematical Problem Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Choose a Mathematical Problem to Solve</h1>
        <div class="problem-links">
            <a href="{{ url_for('gaussian') }}" class="problem-button">Gaussian Naive Bayes Classifier</a>
            <a href="{{ url_for('linear') }}" class="problem-button">Linear Regression</a>
            <a href="{{ url_for('naive_bayes') }}" class="problem-button">Naïve Bayes Text Classifier</a>
        </div>
    </div>
</body>
</html>
